p {
    font-size:16;
    color:black;
    font: "font: 18px Arial, sans-serif;"
}

p.speech {
    font: "font: 18px Calibri , sans-serif;"
}

P.stage-direction{
    background-color: blue;
    margin-left:20px;

}

p.stage-direction:hover{
    background-color:yellow;
    color:red;
}

h3.MORANZONE{
     color: mediumblue;
     margin-left:10px;
}

h3.GUIDO{
    color: mediumblue;
    margin-left:10px;
}
table,td,th
{ 
    border: solid 1px ;
    text-align: center;
    width: 30%;
    color: black;
    padding: 10px;
    margin: 20px;
}

tr:nth-child(even) {
    background-color:#ccc;
  }
